
.timer {
  /* position: fixed; */
  /* top: 80px; */
  /* left: 0; */
  /* z-index: 2; */
  width: 100%;
  padding: 8px;
  /* background-color: rgba(72, 93, 119, 0.3); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* backdrop-filter: blur(20px); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.timer__text {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.12em;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}
.timer__section {
  display: flex;
  gap: 4px;
}
.timer__block {
  background-color: rgba(14, 20, 32, 0.6);
  border-radius: 4px;
  display: flex;
  gap: 4px;
  min-width: 48px;
  height: 28px;
  padding: 2px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #F3BA2F;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.timer__letter {
  font-size: 12px;
  font-weight: normal;
}
@media (max-width: 600px) {
  .timer {
    flex-direction: column;
    /* top: auto; */
    /* bottom: 0; */
  }
}
